body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.hidden {
  display: none;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}